/*KLEUREN VAN DE APP*/
:root {

    /* Hoofdkleur */
    --kleur-primair: #2563eb;

    /* Achtergrond */
    --kleur-achtergrond: #f1f3f9;

    /* Tekstkleur */
    --kleur-tekst: #1f2330;

    /* Zachte tekstkleur */
    --kleur-tekst-zacht: #6b7280;

}

/*PAGINA*/
body {

    background-color: var(
        --kleur-achtergrond
    );

    color: var(
        --kleur-tekst
    );

    font-family:
        Arial,
        sans-serif;

}

/*HEADER*/
header h1 {

    font-weight: bold;

}

header p {

    margin-bottom: 0;

}

/*TAALKNOP*/
#taalKnop {

    margin-top: 20px;

    margin-bottom: 20px;

}


/*OVERZICHT*/
#overzichtVak {

    margin-top: 15px;

}

/*REGISTRATIES*/
.alert {

    margin-bottom: 15px;

}

/*STATISTIEKEN*/
#gemiddeldeSlaap,
#minimumSlaap,
#maximumSlaap {

    font-size: 1.3rem;

    color: var(
        --kleur-primair
    );

    font-weight: bold;

}

/*FOOTER*/
footer {

    color: var(
        --kleur-tekst-zacht
    );

    font-size: 0.9rem;

}